<div class="input-group">
    <input id="inputSearchBooks" type="search" ng-model="filterBooks" class="form-control shortInputSearch" placeholder="Filter, search books..">
    <div class="input-group-btn">
        <button class="btn btn-primary" ng-click="search();">
            <i class="glyphicon glyphicon-search"></i>
        </button>
        <button class="btn btn-primary" ng-click="clearSearch();">
            <i class="glyphicon glyphicon-remove-sign"></i>
        </button>
    </div>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="book in Books | filter:filterBooks">

            <div class="media">
                <a class="pull-left" ng-href="#/books/{{book.Id}}" title="View {{book.Title}} details">
                    <img class="media-object" height="120" ng-src="../../Content/images/books/{{book.Image}}" alt="" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{book.Title}}</h4>
                    Director: <strong>{{book.Director}}</strong> <br />
                    Writer: <strong>{{book.Writer}}</strong> <br />
                    Producer: <strong>{{book.Producer}}</strong><br />
                    <a class="fancybox-media" ng-href="{{book.TrailerURI}}">Trailer<i class="fa fa-video-camera fa-fw"></i></a>
                </div>
                <div class="media-bottom">
                    <span component-rating="{{book.Rating}}"></span>
                </div>
                <label class="label label-info">{{book.Genre}}</label>
            </div> <br /><br />
        </div>
    </div>
</div>

<div class="panel-footer">
    <div class="text-center">
        <custom-pager page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)">

        </custom-pager>
    </div>
</div>
